{% include "header.html" %}
{% from "form_helpers.html" import render_field %}
			<!-- Main -->
				<article id="main">

					<header class="special container">
						<span class="icon solid fa-laptop"></span>
						{% if msg_sent %}
						<h2> <strong>Added a new Cafe Successfully</strong></h2>
						{% else %}
						<h2> <strong>Add new Cafe</strong></h2>
						{% endif %}

					</header>

					<!-- One -->
						<section class="wrapper style4 special container medium">

							<!-- Content -->
								<div class="content">
									<form method="post" action="{{ url_for('add_cafe') }}">
										<div class="row gtr-50">
											<div class="col-12">
												{{ render_field(form.name, class="form-control") }}
											</div>
											<div class="col-12">
												{{ render_field(form.map_url, class="form-control") }}
											</div>
											<div class="col-12">
												{{ render_field(form.img_url, class="form-control") }}
											</div>
											<div class="col-12">
												{{ render_field(form.location, class="form-control") }}
											</div>
											<div class="col-12">
												{{ render_field(form.seats, class="form-control") }}
											</div>
											<div class="col-12">
												{{ render_field(form.has_toilet, class="form-control") }}
											</div>
											<div class="col-12">
												{{ render_field(form.has_wifi, class="form-control") }}
											</div>
											<div class="col-12">
												{{ render_field(form.has_sockets, class="form-control") }}
											</div>
											<div class="col-12">
												{{ render_field(form.can_take_calls, class="form-control") }}
											</div>
											<div class="col-12">
												{{ render_field(form.coffee_price, class="form-control") }}
											</div>

											<div class="col-12">
												<ul class="buttons">
													<li><input type="submit" class="special" value="Add this cafe!!" /></li>
												</ul>
											</div>
										</div>
									</form>
								</div>

						</section>

				</article>

{% include "footer.html" %}