{% include "header.html" %}

			<!-- Banner -->
				<section id="banner">

					<!--
						".inner" is set up as an inline-block so it automatically expands
						in both directions to fit whatever's inside it. This means it won't
						automatically wrap lines, so be sure to use line breaks where
						appropriate (<br />).
					-->
					<div class="inner">

						<header>
							<h2>TWENTY</h2>
						</header>

						<footer>
							<ul class="buttons stacked">
								<li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
							</ul>
						</footer>

					</div>

				</section>

			<!-- Main -->
				<article id="main">

					<header class="special container">
						<span class="icon solid fa-chart-bar"></span>
						<h2> <strong>Cafe and Wi-fi</strong> A place to work
						</h2>
						<p>LaptopFriendly partners with local venues that appreciate and support the remote worker culture.<br> All locations are carefully inspected and manually approved by our curation team.</p>
					</header>


					<!-- Three -->
						<section class="wrapper style3 container special">

							<header class="major">
								<h2>Next look at this <strong>cool stuff</strong></h2>
							</header>

							<div class="row">
								{% for post in all_posts %}
								<div class="col-6 col-12-narrower">
									<section>
										<a  class="image featured"><img src="{{post.img_url}}" alt="" /></a>
										<header>
											<h3>{{ post.name }}</h3>

										</header>
											<p <img src="{{url_for('static', filename='location-arrow.png')}}" alt="" /> >{{ post.location }}</p>
										<p> coffee price: {{post.coffee_price}}<br>
											Number of seats: {{ post.seats }}<br>
										 	wi-fi availability: {{post.has_wifi }}<br>
											power availability: {{post.has_sockets}}<br>
											able to take calls: {{post.can_take_calls}}
										</p>
										<a href="{{post.map_url}}" class="image featured">Map link</a>
										<a href="{{url_for('remove_cafe', post_id=post.id) }}"> Remove Cafe</a>
									</section>

								</div>

								{% endfor %}

<!--							<footer class="major">-->
<!--								<ul class="buttons">-->
<!--									<li><a href="#" class="button">See More</a></li>-->
<!--								</ul>-->
<!--							</footer>-->

						</section>

				</article>



{% include "footer.html" %}